@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
:root{
    --color-primary: #31165e;
    --color-secondary: #e4160f;
    --bg-color: hwb(338 81% 10% / 0.349);
    --color-gray-dark: #0c0c22;
    --color-white: #ffff;
    --color-danger: #ff0505;

    --container-width-Ig: 84%;
    --container-width-md: 92%;
    --form-width: 50%;

    --radius-1: 0.3rem;
    --radius-2: 0.6rem;
    --radius-3: 1rem;
    --radius-4: 2rem;


    --transitions: all 300ms ease;
}
*{
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Montserrat', sans-serif;
    background-color: var(--bg-color);
    font-size: 0.9rem;
    line-height: 1.6;
    color: var(--color-primary);
}
a{
    text-decoration: none;
}
ul{
    list-style: none;
}
h1, h2, h3, h4, h5, h6{
    color: var(--color-primary);
    line-height: 1.1;
}
img{
    display: block;
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.nav-logo img{
    width: 7%;
    height: 10%;

}

section{
   
}

.container{
    width: 100%;
    margin-inline: auto;
}
.btn{
    display: inline-block;
    width: fit-content;
    padding: 0.5rem 1rem;
    border-radius: 15px 0 15px 0;
    background-color: var(--color-secondary);
    font-weight: 500;
    cursor: pointer;
    transition: var(--transitions);
}
.btn.primary{
    background-color: var(--color-primary);
    color: var(--color-white);

}
.btn.category{
    background-color: var(--bg-color);
    color: var(--color-primary);
    font-size: 0.75rem;
    font-weight: 400;
}
.btn.sm{
    font-size: 0.8rem;
    padding: 0.3rem 0.7rem;
    font-weight: 400;
    outline: 1rem;
}
.btn.danger{
    background-color: var(--color-danger);
    color: var(--color-white);
}
.btn:hover{
    background-color: #f3600b;
    color: var(--color-white);
}

.center{
    text-align: center;
    padding: 12.8rem;
    margin-inline: center;
    display: block;
    width: 100%;
    background-color: rgba(81, 73, 196, 0.5);
    
}

.error_page h1, h2{
    margin: 1rem;
}
.error_page h1{
    font-weight: 100;
    font-size: 200px;
    font-style: oblique;
}
.error_page h2{
    outline-style: auto;
    font-style: oblique;
   
    
   
    
}

footer{
    background: var(--bg-color);
    margin-top: 6rem;
    padding-top: 2rem;
    text-align: center;
    border-top: 2px solid var(--bg-color);
    padding: 1rem;
    color:var(--color-secondary);
    font-weight: 300;
    box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.3);
    
}



.form {
    display: flex;
    flex-direction: column;
    gap: .6rem;
    
}
input, select, textarea{
    width: 100%;
    padding: 0.6rem 1rem;
    border-radius: var(--radius-2);
    resize: none; 
    color: #0c0c22;
}

.errormsg{
    background: var(--color-secondary);
    color: var(--color-white);
    font-size: 0.8rem;
    padding: 0.6rem 1rem;
    border-radius: var(--radius-1);
    margin-bottom: 1rem;
}

.register{
    width: 22%;
    margin-inline: auto;
    height: calc(100vh - 12rem);
    place-items: center;
    background: #ffffff;
    padding: 35px 20px;
    height: auto;
    border-radius: 25px;
    box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.2);
    gap:2rem 2rem;
    position: fixed;
    left: calc(40%);
    top: 20%;

    

}

    
    
    


.register, .login:hover{
    color: rgba(38, 39, 110, 0.2);
}

.register h2, .login h2, .create-post h2{
    margin-bottom: 2rem;
}

.register small, .login small{
    display: block;
    margin-top: 1.5rem;
    color: #0c0c22;
}

.register small a, .login small a{
    color: var(--color-primary);
}
/** Header && Nav Bar------------------------------------------------------------------------------------**/

.header{
    padding: 11px;
    height: 3rem;
    background-color: rgba(81, 73, 196, 0.5);
    z-index: 9999;
    box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.3);
    backdrop-filter: blur(20px);
    position: fixed;
    border-top: rem;
    width: 90%;
    left: 17%;
    
 
    
  
}
 
.sidenav .logo{
   text-align: center;
   color: #ffff;
   display: flex;
   padding: -20px;
   border-bottom: 7px solid var(--bg-color);
   
   
    
} .sidenav svg{
    color: #ffffff;
}


.sidenav{
    width: 230px;
    background-color: rgba(81, 73, 196, 0.5);
    height: 100vh;
   
    transition: var(--transitions);
    backdrop-filter: 20px;
    box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.1);
    z-index: 1;
    
    
}
.sidenav{
    position: fixed;
    padding:  30px;
}
.sidenav ul{
    padding: 0;

}
ul li{
    list-style-type: none;
    margin: 10px 0 ; 
}
ul li a{
    color: var(--color-primary);
    text-decoration: none;
    font-size: 15px;
    font-weight: 500;
    display: block;
    padding: 10px 15px;
    border-radius: 6px;
    
}
ul li a:hover,
ul li a.active{
    color: #ffffff;
    background: var(--color-secondary);
    
}
.signin li{
    top: 20rem;
    color: #11020c;
    background: #860303;
    position: relative;
    text-align: center;
    width: 6rem;
    border-radius: 10px;
    
    
}
.signin {
   display: flex;
   gap: 0.5rem;
    
    
}


/** Dashboard-----------------------------------------------------------------------------------------------**/

.system-cont{
    display: flex;
    width: 100%;
    height: 80vh;
    position: relative;
    left: 17%;
    top: 5rem;
    

    
    
   
}
.box{
    
    padding: 1rem 2rem ;
    background: #ffff;
    height: 12rem;
    width: 26rem;
    box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.1);
    border-radius: 15px;
    padding: 15px;
    
    
}
.box .contents{
    top: 1rem;
    position: relative;
}
